# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/
build/

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.migration

# debug
npm-debug.log*
pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# testing
playwright-report/
test-results/
coverage/

# vercel
.vercel

# supabase
supabase/.branches
supabase/.temp

# misc
.DS_Store
*.pem
.idea/
.vscode/*
!.vscode/extensions.json
